<h2>first-Angular-Project</h2>
<h2> 
  <head>
    <style>
      .foo {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(226, 19, 19, 0.911);
}
    </style>
  </head>

<button (click)="onDisplay()">display</button>

</h2>
<button (click)="onIncrement()">+</button>
<input type="text" [(ngModel)]="Numbe" id="">

  <p class="foo blue p5">
  {{Numbe}}</p>




<button (click)="onDecrement()">-</button>

<p>
  <input type="number" name="" id="">

</p>


{{movieName}}

<div *ngFor="let product of products">


  <h3 *ngIf="product.price">
      {{ product.name }}
  </h3>
</div>

<div *ngFor="let e of loanapplications"> 

  <tr> {{e.applicationId}} </tr>
 <tr>  {{e.applicationDate}}</tr>
   <tr>{{e.customer}}</tr>
 <tr>  {{e.loanAppliedAmount}}</tr>
 <tr> {{e.loanApprovedAmount}} </tr>
  <tr> {{e.landVerificationApproval}}</tr>
  <tr> {{e.financeVerificationApproval}}</tr>
 <tr>  {{e.adminApproval}}</tr>
  <tr> {{e.status}}</tr>
</div>
